.file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
}

.file-name a:hover {
    white-space: normal;
}
.files::-webkit-scrollbar {
    width: 5px;
}

.files::-webkit-scrollbar-thumb {
    background-color: #303df3;
    border-radius: 6px;
}

.files::-webkit-scrollbar-track {
    background-color: transparent;
}
.fileBox-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deleteDialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust the z-index based on your layout */
}

.deleteDialogBox {
    /* background: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1010; /* Ensure it's above the overlay */
    max-width: 400px;
    width: 100%;
}

body {
    margin: 0;
}
